:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "SfHambakneun";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.logo {
  font-family: "SfHambakneun";
}

.fixed-box {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.nav-box {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  margin: 4px;
  border-radius: 16px;
  border: 1px solid #ddd;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.05);
}

.nav-box-dark {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 5px 0px rgba(255, 255, 255, 0.05);
  border: 1px solid #333;
}

.scale:hover {
  scale: 1.05;
  transition: all ease-in 0.1s;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.tilt {
  margin-top: -24px;
  animation: tilt-shaking 3s infinite;
}
